* {
  font-family: 'Anek Bangla', sans-serif;
  font-size: 20px;
}

body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: white;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: silver;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

li {
  justify-content: space-between;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #3b2fd1;
}

.dropdown-content a:hover {
  background-color: #3b2fd1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.imagem {
  margin-top: 50px;
  text-align: center;
}

img {
  border: 7px solid silver;
  border-radius: 3%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

.descrip-about {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

button {
  background-color: #f9f9f9;
  border: none;
  min-width: 190px;
  margin-left: auto;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
}

#centro {
  text-align: center;
}

footer {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  background-color:rgba(11, 11, 66, 1);
}

.field,
textarea,
.botão {
  color: black;
  border-radius: 5px;
  border: 5px solid silver;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 15px;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-top: 30px;
  padding-left: 10px;
  margin-right: 250px;
  margin-left: 75px;
  float: right;
}

textarea {
  width: 100%;
  padding: 15px 15px 50px;
}

.botão {
  padding: 10px;
}

.botão:hover {
  background-color: #3b2fd1;
}

.p-div {
  text-align: center;
  margin-top: 120px;
  margin-left: 200px;
}



@media (max-width: 1280px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 270px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }

  form {
    float: none;
    margin: auto;
    margin-top: 70px;
    width: 900px;
  }

  .p-div {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 270px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }

  form {
    float: none;
    margin: auto;
    margin-top: 70px;
    width: 900px;
  }

  .p-div {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 950px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 270px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
  }

  form {
    float: none;
    margin: auto;
    margin-top: 70px;
    width: 500px;
  }

  .p-div {
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
}

@media (max-width: 912px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 270px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
  }

  form {
    width: 800px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media(max-width: 820px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 250px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
  }

  form {
    width: 500px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media(max-width: 768px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 250px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
  }

  form {
    width: 500px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 750px) {

  nav,
  ul {
    text-align: center;
    padding: 20px;
  }

  img {
    width: 250px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
  }

  form {
    width: 500px;
    float: none;
    margin: auto;
    margin-top: 70px;
  }

  .p-div {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@media(max-width: 543px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 20px;
  }

  img {
    width: 240px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
  }

  form {
    width: 370px;
    margin-top: 70px;
  }

  .p-div {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
}

@media(max-width: 540px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 20px;
  }

  img {
    width: 240px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }

  form {
    width: 440px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(max-width: 465px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 20px;
  }

  img {
    width: 240px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }

  form {
    width: 340px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(max-width: 414px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 20px;
  }

  img {
    width: 240px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }

  form {
    width: 340px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(max-width: 390px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 20px;
  }

  img {
    width: 240px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
  }

  form {
    width: 330px;
    margin-top: 70px;
  }

  .p-div {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media(max-width: 375px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 20px;
  }

  img {
    width: 230px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
  }

  form {
    width: 300px;
    margin-top: 70px;
  }

  .p-div {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media(max-width: 360px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 15px;
  }

  img {
    width: 180px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 23px;
    margin-right: 23px;
  }

  form {
    width: 240px;
    margin-top: 70px;
  }

  .p-div {
    text-align: center;
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media(max-width: 280px) {

  nav,
  ul {
    display: block;
    text-align: center;
    padding: 15px;
  }

  img {
    width: 180px;
  }

  .descrip-about {
    text-align: justify;
    margin-left: 23px;
    margin-right: 23px;
  }

  form {
    width: 240px;
    margin-top: 70px;
  }

  .p-div {
    text-align: center;
    margin-left: 23px;
    margin-right: 23px;
  }
}